<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">×</button>
				<h1>Confirmación</h1>
			</div>
			<div class="modal-body">
				<span aria-hidden="true">
					<p>Esta seguro de elimina el registro?</p>
				</span>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button> 
				<button type="button" class="btn btn-success" ng-click="modelContat.delete()">Aceptar</button>
			</div>
		</div>
	</div>
</div>